.logo {
  font-size: 2rem;
  color:#EF5B0C ;
  margin-left: 30px;
}
header {
  display:flex ;
  background-color: #003865;
}


nav {
  height: 80px;
  width: 100%;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #EF5B0C;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;}
  .checkbtn{
      font-size: 30px;
      color: #D4F6CC;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
      }
      ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
        }
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left: 0;
        }
      .welcome {
        text-align: center;
        font-family: 'Sacramento', cursive;
        color:#EF5B0C;
        margin-top: 10px;
      }
      .Become {
        text-align: center;
        font-size: 1.5rem;
        color: #003865;
      }
      .image1 {
        border-radius: 100%;
      }
      .image2 {
        border-radius: 100%;
      }
      .image3 {
        border-radius: 100%;
      }
      .Full {
        color: #003865;
        text-align: center;
        font-weight: bolder;
        font-size: 1.6rem;
      }
      .part {
        display: flex;
      }
      .btn1 {
        margin: 0 10px;
        padding-right: 20px;
      }
      main button p {
        font-size: 1.2rem;
        color: #A10035;
      }
      .link {
        margin-left: 15px;
        font-size: 1.1rem;
        color: #003865;
        text-align: center;
        font-weight: bolder;
      }
      section {
        background-color: #FFC4C4;
        padding-top: 15px;
      }
      main {
        background-color: #FFC4C4;
        padding-top: 15px;
      }
      .value {
        text-align: center;
        color: #A10035;
        font-size: 1.3rem;
      }
      .click {
        margin-left: 14px;
        font-size: 1.1rem;
        color: #003865; 
        text-align: center;
        font-weight: bolder;
      }
section button a {
  font-size: 1rem;
  color: #A10035;
  
      }
}
section button {
 height: 50px;
 width: 300px;
 margin-left: auto;
  margin-right: auto;
  display: block;
}
section button a p {
  line-height: 2px;
  
}
.purchase {
  height: 40px;
    width: 200px;
    font-size: 1rem;
 margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15px;
  text-decoration: none;
  background-color: #F5C7A9;
  font-weight: bolder;
  font-size: 1.2rem;
}
main h2 {
  color: #003865;
  text-align: center;
  font-weight: bolder;
  font-size: 1.6rem;
      }
  main p {
        color: #A10035;
        text-align: center;
        font-size: 1.2rem;
        
      }  
      #img {
        display: flex;
        justify-content: center;
      }
      #img1 {
        margin-left: 8px;
      }
      .purchase2 {
        height: 40px;
          width: 200px;
          font-size: 1rem;
       margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 15px;
        text-decoration: none;
        background-color: #F5C7A9;
        font-weight: bolder;
        font-size: 1.2rem;
      }
      #img3 {
        display: flex;
        justify-content: center;
      }
      #img4 {
        margin-left: 8px;
      }
      .purchase3 {
        height: 40px;
          width: 200px;
          font-size: 1rem;
       margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 15px;
        text-decoration: none;
        background-color: #F5C7A9;
        font-weight: bolder;
        font-size: 1.2rem;
      }
      .services {
        background-color: aliceblue;
        padding: 30 70 30 70;
      }
      .btn5 {
        border-radius: 20%;
        width: 70%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 12px;
        padding-bottom: 8px;
      }
      #down-btn {
        padding-top: 20px;
        font-size: 1.8rem;
        margin-bottom: 8px;
      }
      #message-me {
          height: 60px;
            width: 200px;
            font-size: 1rem;
         margin-left: auto;
          margin-right: auto;
          display: block;
          border-radius: 15px;
          text-decoration: none;
          background-color: #F5C7A9;
          font-weight: bolder;
          font-size: 1.5rem; 
          text-decoration: none;  
      }
      .main2 {
        padding-bottom: 20px;
      }
      /* footer */
      /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: teal;
  color: orange;
}

/* Twitter */
.fa-twitter {
  background: teal;
  color: orange;
}
.fa-youtube {
  background: teal;
  color: orange;
}
.fa-instagram {
  background: teal;
  color: orange;
}
footer{
  background-color: #2c3e50;
  padding-top: 7px;
  padding-bottom: 3px;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}  
.copy {
  text-align: center;
  font-size: 1.1rem;
  
  color: white;
}
.icon {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Spread {
  text-align: center;
   
}
.Spread a {
  margin-right: 23px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: antiquewhite;
  text-decoration: none;
  font-family: 'Sacramento', cursive;
  padding-top: 29px;
  padding-bottom: 29px;
  color: orange;
}
.message {
  text-decoration: none;
}



/* for desktop */
.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	
        font-size:30px;
	box-shadow: 2px 2px 3px #999;
        z-index:100;
}

.whatsapp-icon {
	margin-top:;
  
}



